<%- include('./layout/header.ejs') %>

<div class="flex-shrink-0 flex items-center">
    <h1 class="text-2xl font-bold text-indigo-600 m-5">TaskManager</h1>
</div>

<h1 class="font-bold text-5xl ps-10 pt-3 pb-3 ms-10 mt-4"><%=  status  %></h1>
<h2 class="text-3xl  ps-10  pb-3 ms-10">Sorry!</h2>
<h1 class="font-bold text-2xl ps-10  pb-3 ms-10 ">We can't seem to find the resource you're looking for.</h1>

<p class="px-10  ms-10 "><%=  message %></p>


<%- include('./layout/footer.ejs') %>